@import '../../../utils/variables';

.dialogs {
    &__item {
        $item: &;
        width: 370px;
        display: flex;
        // margin-bottom: 20px;
        color: rgba(0, 0, 0, 0.87);
        
         
        &-avatar {
          position: relative;
          flex: 0 0 40px;
          width: 40px;
          height: 40px;
          margin-right: 10px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }


        &--selected {
            background-color: #f3f7ff;
        }
        
        &--online {
            #{$item}-avatar {
                &::before {
                    display: block;
                    position: absolute;
                    bottom: -2px;
                    right: 0;
                    content: '';
                    background-color: $green;
                    border-radius: 30px;
                    width: 13px;
                    height: 13px;
                    border: 3px solid $white;
                }
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
            &-top {
                display: flex;
                b {
                    font-family: 'Comfortaa';
                    font-size: 14px;
                    font-weight: 700;
                    flex: 1;
                    margin-bottom: 2px;
                }
                span {
                    opacity: 0.4;
                    font-size: 14px;
                    font-family: 'Comfortaa';
                }
            }
            &-bottom {
                position: relative;
                p {
                    opacity: 0.4;
                    font-family: 'Comfortaa';
                    font-size: 14px;
                    line-height: 20px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    width: 260px;
                    height: 1.2em;
                    white-space: nowrap;
                }
                &-count {
                    background: $blue;
                    color: $white;
                    font-weight: 300;
                    width: 18px;
                    height: 18px;
                    border-radius: 30px;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    font-size: 11px;
                    text-align: center;
                    line-height: 17px;
                    box-shadow: 0 0 6px $white;
                }
                .message__icon-readed {
                    bottom: 0;
                    left: auto;
                    right: 0;
                }
            }

        }
    }
}