.home {
    height: 100%;
}

.chat {
    display: flex;
   // height: 100%;
    background: #fff;
    width: 1440px; //1140px было
    height: 680px;
    margin: 0 auto;
    box-shadow: 2px 2px 5px rgba(5, 70, 240, 0.25);   

    &__sidebar {
        width: 390px;
        border-right: solid #F7F7F7 ;
        &-header {
            display: flex;
            justify-content: space-between;
            padding: 23px;
            height: 68px;
            border-bottom: 2px solid #F7F7F7;
            margin-bottom: 20px;
            align-items: center;

            .ant-btn-circle {   
                position: relative;
                left: 5px;
            }
            & > div {
                     font-size: 14px;
                     font-family: 'Comfortaa';
                     svg {
                      display: inline-block;
                      margin-right: 5px;
                    }
            }
        }

        &-dialogs {
            height: calc(100% - 126px);
            position: relative;

            

            .dialogs {
                height: 100%;
                overflow: auto;
                &__item {
                    padding: 10px 20px;
                    margin-bottom: 0;
                    cursor: pointer;
                    
                    &:active,
                    &:hover {
                        background-color: #F3F7FF;
                    }

                }
            }
        }
    }

    &__dialog {
        flex: 1;
        position: relative;

        .ant-empty {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            border-bottom: 2px solid #F7F7F7;
            .ant-btn-circle {   
                i {
                    font-size: 20px;
                }
            }

            &-center {
                text-align: center;  
            }
            &-username {
                display: block;
                margin-bottom: -4px;
                font-weight: 900;
                font-family: 'Comfortaa';
                font-size: 14px;

            }
        }

        &-message {
            padding: 20px;
            padding-bottom: 0;
            overflow: auto;
            height: calc(100% - 138px);
        }
    }
}

