.root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    .form {
        width: 100%;
        .recovery-button {
            display: flex;
            justify-content: center;
            margin-top: 2px;
            margin-bottom: 2px;
            width: 60%;
            margin-left: auto;
            margin-right: auto;
          }
      }
  }
  
  .error {
    color: red;
    font-size: 12px;
    font-family: 'Popins';
  }
  
  